* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  display: flex;
  justify-content: center;
  background-color: black;
}

.carousel .slide {
  height: 50vh;
}

.carousel .slide img {
  margin-top: 20px;
  max-height: 100%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.image {
  margin-top: 0 auto;
  height: 100%;
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 100vh;
  }
}
@media only screen and (max-width: 900px) {
  .carousel {
    height: 100vh;
  }
}
@media only screen and (max-width: 700px) {
  .carousel {
    height: 100vh;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 1rem; /* Adjust the font size as needed */
}
